.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.weather-card{
    height: 70%;
    width:50%;
    background-color: rgb(88, 216, 233);
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.blue1{
  color: blue;
}
.yellow1{
  color: rgb(248, 164, 6);
}
.blue2{
color: rgb(47, 248, 107);
}
.dot{

    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 auto 10px;

}
bule{
  color: blue;
}
yellow{
  color: yellow;

}
green{
  color: green;
}
red{
  color: red;
}
