<h1 style="text-align: center; color: #fff;">Shopping</h1>
<div class="parent">

<div *ngFor="let flipcart of flipkart " class="parent1">
  <img src="{{flipcart.image}}" alt="" width="200px" height="200px">
  <h3 style="padding-left: 10px;">{{flipcart.category}}</h3>
  <p style="color: blue; padding-left: 10px;">{{flipcart.title}}</p>
  <p style="color: red; padding-left: 10px;">{{flipcart.price}}</p>
   <div class="rating">  <app-starrating [rating]="flipcart.rating.rate"
></app-starrating></div>            
</div>
</div>
