<div class="parent">
  <div class="left">
    <h1>Dashboard</h1>
    <h2 routerLink="/dashboard">Home</h2>
    <h2 routerLink="/dashboard/clock">Clock</h2>
    <h2 routerLink="/dashboard/calculator">Calculator</h2>
    <h2 routerLink="/dashboard/data-binding">Data Binding</h2>
    <h2 routerLink="/dashboard/directives">Directives</h2>
    <h2 routerLink="/dashboard/employees">Employees</h2>
    <h2 routerLink="/dashboard/vehicles">Vehicles</h2>
    <h2 routerLink="/dashboard/flipkart">Flipkart</h2>
    <h2 routerLink="/dashboard/email">Email</h2>
    <h2 routerLink="/dashboard/cards">Cards</h2>
    <h2 routerLink="/dashboard/weather">Weather</h2>
    <h2 routerLink="/dashboard/student">StudentsId</h2>
    <h2 routerLink="/dashboard/createstudent">Createstudent</h2>
    <h2 routerLink="/dashboard/parent">parent</h2>
    <h2 routerLink="/dashboard/sibling1">sibling</h2>
    <h2 (click)="logout()">LogOut</h2>

  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
